<img src='letscodebr_cover.jpeg' align='left' width=100%/>

# Ada Tech [DS-PY-004] Técnicas de Programação I (PY) Aula 8: Enunciado do Exercício 2.

### Introdução

A limpeza é uma etapa necessária em qualquer projeto de dados.

Podemos resumir o processo de limpeza de dados nas cinco tarefas a seguir:

**1. Resolver problemas de formato dos dados e atribuir o dtype correto de cada coluna.**

Por exemplo, ao ler um arquivo CSV com a biblioteca Pandas, uma data não é importada corretamente, como pode ser o caso de um campo de data onde $20090609231247$ é importado em vez de $2009-06-09 23:12:47$.

O formato em que os dados são encontrados determina quais operações podem ser executadas nele.

**2. Padronizar categorias.**

Quando os dados forem coletados em um sistema que não possui valores padronizados, os valores que representam a mesma categoria podem ser expressos de forma diferente. Por exemplo: Bra, BR, Brasil, Brazil.

**3. Corrigir valores errados.**

Por exemplo: um valor inválido ou numérico para descrever o gênero; ou uma idade representada por um número negativo ou muito maior que 100.

**4. Completar dados ausentes (mising values).**

Datasets do mundo real geralmente vêm com dados ausentes que correspondem a informações que foram perdidas ou nunca coletadas. Existem várias técnicas para preencher os dados ausentes. O processo de preenchimento de dados ausentes é chamado de "imputação".

**5. Organizar o dataset.**

É importante estruturar as linhas e colunas da maneira mais conveniente. Para fazer isso, as regras do "tidy data" podem ser aplicadas.

## Dataset

O [Met (Metropolitan Museum of Art)](https://github.com/metmuseum/openaccess/) fornece um dataset de informações de mais de 420.000 peças de arte em sua coleção.
Para mais informações acesse:

Os problemas com este dataset incluem:

- Valores ausentes
- Possíveis duplicações
- Colunas com uma combinação de tipo numérico e strings

Nesta aula iremos detectar alguns dos campos que apresentam problemas e resolvê-los usando as ferramentas que adquirimos nas práticas orientadas.

## Exercício 1:

Vamos ler os dados do arquivo `../Data/MetObjects_sample.csv` na variável `data` em um `DataFrame` Pandas com o método `read_csv`.

Vamos ver quantas linhas e colunas o DataFrame tem:

## Exercício 2: Formato e tipo de dado

Vamos verificar o dtype de cada coluna do DataFrame e converter ou formatar **algumas das colunas** que têm o dtype errado.


### 2.a Detectar colunas com dtype errado

### 2.b `AccessionYear`

Analise a coluna AccessionYear que foi lida como `object` e deveria ser `int`.

Quais valores esse campo assume? Como esses valores são distribuídos? Existem valores nulos?

Queremos extrair o ano dos valores não numéricos e criar uma nova coluna no DataFrame do tipo `int` que é chamada AccessionYearClean e tem esses valores.

Para isso, vamos usar expressões regulares, função apply e lambda.

Observação: se a coluna tiver valores NaN, não poderemos convertê-la para o tipo int. Uma opção é substituir os valores NaN por algum número inteiro antes de converter (`fillna`). A outra opção é deixar a coluna do tipo float (o tipo NaN é float).

## Exercício 3: Categorias - Valores errados

Vamos agora dar uma olhada no campo `Artist Gender`.

Quais valores esse campo assume? Como esses valores são distribuídos? Existem valores nulos?

Você deve definir Male, Female e Unknowncomo como categorias válidas

Em seguida crie uma nova coluna no DataFrame que será chamada ArtistGenderClean e tem esses valores.

Para isso, vamos usar expressões regulares, funções apply e lambda.

Podemos deduzir como a categoria Masculino é representada no conjunto de dados original?

Observação: a proposta que fazemos para limpar esse campo não está totalmente correta e veremos o motivo mais tarde. Mas serve como exercício inicial.

## Exercício 4: Imputação

Agora vamos analisar os campos `Object Date`, `Object Begin Date`, `Object End Date`.

**4.a Quantos valores nulos existem em `Object Date`? Quantos em `Object Begin Date`? Quantos em `Object End Date`?**

**4.b Usaremos os valores de `Object Begin Date` ou `Object End Date` para imputar os valores de `Object Date` a qualquer um desses dois campos.**

1) Vamos criar uma nova coluna (`Object Date 4b`) onde copiaremos todos os dados da coluna Object Date (para não alterar os valores originais e eles nos servirão para o próximo exercício)

2) Vamos preencher a coluna `Object Date 4b` com a estratégia que propomos.

**4.c Usaremos aleatoriamente os valores de `Object Begin Date` ou `Object End Date` para imputar os valores de `Object Date` a qualquer um desses dois campos.**

Para isso definimos uma função `get_fill_value` que recebe como parâmetro uma linha de dados, e se o valor do campo `Object Date` for nulo, retorna aleatoriamente o valor do campo "Object Begin Date" ou "Object End Date" desse registro.

(Neste exercício praticamos tudo!)

Vamos contar agora quantos registros você preencheu com os valores de Object Begin Date e quantos com Object End Date.

## Nota: Organize o conjunto de dados

Para realizar esta tarefa, precisamos de algumas ferramentas que veremos na segunda parte do Pandas.

Nessa aula, vamos voltar a este exercício e resolver esse ponto.

Os campos que vamos analisar são `Artist Nationality` e `Artist Display Name`.

In [1]:
data["Artist Nationality"].value_counts()

NameError: name 'data' is not defined

In [ ]:
data["Artist Display Name"].value_counts()