In [79]:
import pandas as pd
from tabulate import tabulate
import sqlite3

df_amazon_sale = pd.read_csv(r'C:\Users\thaty\Desktop\Estudos\SQL\Database\Amazon Sale Report.csv')

C:\Users\thaty\AppData\Local\Temp\ipykernel_26376\3529347543.py:5: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_amazon_sale = pd.read_csv(r'C:\Users\thaty\Desktop\Estudos\SQL\Database\Amazon Sale Report.csv')

In [ ]:
df_amazon_sale.head(10)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
5,5,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET264,SET264-KR-NP-XL,Set,...,INR,824.00,GHAZIABAD,UTTAR PRADESH,201102.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
6,6,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0095,J0095-SET-L,Set,...,INR,653.00,CHANDIGARH,CHANDIGARH,160036.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
7,7,406-7807733-3785945,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,kurta,...,INR,399.00,HYDERABAD,TELANGANA,500032.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
8,8,407-5443024-5233168,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,Set,...,NaN,NaN,HYDERABAD,TELANGANA,500008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
9,9,402-4393761-0311520,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3461,JNE3461-KR-XXL,kurta,...,INR,363.00,Chennai,TAMIL NADU,600041.0,IN,NaN,False,NaN,NaN

In [82]:
df_amazon_sale.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [83]:
print(df_amazon_sale.dtypes.to_frame('Tipo de Dado'))

                   Tipo de Dado
index                     int64
Order ID                 object
Date                     object
Status                   object
Fulfilment               object
Sales Channel            object
ship-service-level       object
Style                    object
SKU                      object
Category                 object
Size                     object
ASIN                     object
Courier Status           object
Qty                       int64
currency                 object
Amount                  float64
ship-city                object
ship-state               object
ship-postal-code        float64
ship-country             object
promotion-ids            object
B2B                        bool
fulfilled-by             object
Unnamed: 22              object

In [32]:

conexao = sqlite3.connect(":memory:")

dados.to_sql("amazon_sales", conexao, index=False, if_exists="replace")

query = "SELECT `Order ID`, `Date` FROM amazon_sales;"
resultado = pd.read_sql_query(query, conexao)

conexao.close()
print(tabulate(resultado.head(5), headers='keys', tablefmt ='grid'))

+----+---------------------+----------+
|    | Order ID            | Date     |
+====+=====================+==========+
|  0 | 405-8078784-5731545 | 04-30-22 |
+----+---------------------+----------+
|  1 | 171-9198151-1101146 | 04-30-22 |
+----+---------------------+----------+
|  2 | 404-0687676-7273146 | 04-30-22 |
+----+---------------------+----------+
|  3 | 403-9615377-8133951 | 04-30-22 |
+----+---------------------+----------+
|  4 | 407-1069790-7240320 | 04-30-22 |
+----+---------------------+----------+