# The SQL WHERE Clause
The WHERE clause is used to filter records.

It is used to extract only those records that fulfill a specified condition.

# Sintax

SELECT column1, column2, ... <br>
FROM table_name <br>
WHERE condition;

In [12]:
import pandas as pd
import sqlite3
from tabulate import tabulate

conexao = sqlite3.connect(":memory:")
dados = pd.read_csv(r'C:\Users\thaty\Desktop\Estudos\SQL\Database\Amazon Sale Report.csv')
dados.to_sql("amazon_sales", conexao, index=False, if_exists="replace")

C:\Users\thaty\AppData\Local\Temp\ipykernel_28564\1016333659.py:6: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(r'C:\Users\thaty\Desktop\Estudos\SQL\Database\Amazon Sale Report.csv')

128975

In [14]:
query = "SELECT * FROM amazon_sales WHERE Status = 'Cancelled';"

resultado = pd.read_sql_query(query, conexao)

# print(tabulate(resultado.head(5), headers='keys', tablefmt='grid'))

print(resultado.head(5))

   index             Order ID      Date     Status Fulfilment Sales Channel   \
0      0  405-8078784-5731545  04-30-22  Cancelled   Merchant      Amazon.in
1      3  403-9615377-8133951  04-30-22  Cancelled   Merchant      Amazon.in
2      8  407-5443024-5233168  04-30-22  Cancelled     Amazon      Amazon.in
3     23  404-6019946-2909948  04-30-22  Cancelled   Merchant      Amazon.in
4     29  404-5933402-8801952  04-30-22  Cancelled   Merchant      Amazon.in

  ship-service-level    Style                  SKU       Category  ...  \
0           Standard   SET389       SET389-KR-NP-S            Set  ...
1           Standard    J0341           J0341-DR-L  Western Dress  ...
2          Expedited   SET200  SET200-KR-NP-A-XXXL            Set  ...
3           Standard   SET291       SET291-KR-PP-M            Set  ...
4           Standard  JNE2132  JNE2132-KR-398-XXXL          kurta  ...

  currency  Amount   ship-city   ship-state ship-postal-code  ship-country  \
0      INR  647.62      MUMBAI  MAHARASHTRA         400081.0            IN
1      INR  753.33  PUDUCHERRY   PUDUCHERRY         605008.0            IN
2     None     NaN   HYDERABAD    TELANGANA         500008.0            IN
3      INR  570.48        pune  MAHARASHTRA         411044.0            IN
4     None     NaN    GUWAHATI        ASSAM         781003.0            IN

                                  promotion-ids B2B  fulfilled-by Unnamed: 22
0                                          None   0     Easy Ship         NaN
1                                          None   0     Easy Ship         NaN
2  IN Core Free Shipping 2015/04/08 23-48-5-108   0          None         NaN
3                                          None   0     Easy Ship         NaN
4                                          None   0     Easy Ship         NaN

[5 rows x 24 columns]