<img src='letscodebr_cover.jpeg' align='left' width=100%/>

# Ada Tech [DS-PY-004] Técnicas de Programação I (PY) Aulas 4 e 5 : Pandas - Resolução do Exercício 2.

### Conjunto de dados

O conjunto de dados que usaremos é uma versão muito condensada dos dados de uma Pesquisa de Domicílios Permanentes (pesquisa realizada por um instituto de pesuisas estatisticas e censos demográficos). É uma pesquisa contínua que tem como objetivo principal gerar informações sobre o funcionamento do mercado de trabalho.

Utilizaremos apenas algumas variáveis como idade, escolaridade, número de horas trabalhadas, qualificação da tarefa e renda do trabalho e alguns casos empregados, ou seja, aqueles que trabalharam pelo menos uma hora na semana anterior à pesquisa.

Importamos a biblioteca do `Pandas` e atribuímos pd como um apelido (alias):

In [1]:
import pandas as pd

## Exercicio 1

Vamos Aplicar o método [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) e ler em um `DataFrame` chamado `data` os dados do arquivo '../Data/data_filt.csv'

Este arquivo contém alguns dados numéricos e alguns tipos de string de caracteres.

As colunas são:

- ch06: int, idade

- nivel_ed: string, nivel educacional

- htot: int, quantidade de horas totais trabalhadas no período

- qualif: string, qualificação da tarefa

- p47t: int, entrada

In [2]:
# local:
data_location = "../Data/data_filt.csv"

data = pd.read_csv(data_location, 
                   sep = ",", 
                   encoding = "latin1"
                  )
data

       ch06           nivel_ed  htot            calif     p47t
0        46        1_H/Sec inc    45  2_Op./No calif.   6000.0
1        26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
2        47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
3        52        1_H/Sec inc    90  2_Op./No calif.  11000.0
4        45        1_H/Sec inc    44  2_Op./No calif.   9500.0
...     ...                ...   ...              ...      ...
23443    45  2_Sec. comp y más    50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc    30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más    40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc    40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc    54  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

## Exercício 2

Vejamos agora os três primeiros registros dos dados `DataFrame` e os últimos cinco registros. Quantas linhas os dados têm? E quantas colunas?

Dicas:

Você pode aplicar os métddos

- [`pandas.DataFrame.head()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html?highlight=head#pandas.DataFrame.head)

- [`pandas.DataFrame.tail`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html?highlight=tail#pandas.DataFrame.tail)

- [`pandas.DataFrame.shape[]`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html?highlight=shape#pandas.DataFrame.shape)

- [`pandas.DataFrame.info()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html?highlight=info)

In [3]:
data.head(3)

   ch06           nivel_ed  htot            calif    p47t
0    46        1_H/Sec inc    45  2_Op./No calif.  6000.0
1    26  2_Sec. comp y más    25  2_Op./No calif.  5000.0
2    47  2_Sec. comp y más    25  2_Op./No calif.  5000.0

In [4]:
data.tail(5)

       ch06           nivel_ed  htot            calif     p47t
23443    45  2_Sec. comp y más    50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc    30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más    40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc    40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc    54  2_Op./No calif.   8000.0

In [5]:
data.shape

(23448, 5)

In [6]:
print("filas: " + str(data.shape[0]))
print("columnas: " + str(data.shape[1]))

filas: 23448
columnas: 5

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23448 entries, 0 to 23447
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ch06      23448 non-null  int64
 1   nivel_ed  23448 non-null  object
 2   htot      23448 non-null  int64
 3   calif     23448 non-null  object
 4   p47t      23448 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 916.1+ KB

## Exercício 3

Quais são os nomes das colunas dos dados `DataFrame`? Qual é o índice dos dados `DataFrame`?

Dicas:

Você pode aplicar os métddos

- [`pandas.DataFrame.columns`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.columns.html?highlight=columns#pandas.DataFrame.columns)

- [`pandas.DataFrame.index`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.index.html?highlight=index#pandas.DataFrame.index)

In [8]:
data.columns

Index(['ch06', 'nivel_ed', 'htot', 'calif', 'p47t'], dtype='object')

In [9]:
data.index

RangeIndex(start=0, stop=23448, step=1)

Renomearemos agora as colunas para que tenham estes valores:

`['idade', 'nivel_educacional', 'hs_trabalhadas', 'qualif_ocupacional', 'trada_ult_mes']`

In [10]:
data.columns = ['idade', 'nivel_educacional', 'hs_trabalhadas', 'qualif_ocupacional', 'renda_ult_mes']

In [11]:
data.columns

Index(['idade', 'nivel_educacional', 'hs_trabalhadas', 'qualif_ocupacional',
       'renda_ult_mes'],
      dtype='object')

## Exercício 4 

Qual é o tipo de dados da quarta coluna?

In [12]:
type_column_four = data.iloc[ : , 3]
type_column_four.dtype

dtype('O')

ou em uma única linha:

In [13]:
data.iloc[ : , 3].dtype

dtype('O')

## Exercício 5 

Como estão distribuídos os níveis educacionais? Qual é o mais comum?

Dica:

Você pode aplicar o métddo

- [`pandas.Series.value_counts()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html?highlight=value_counts#pandas.Series.value_counts)

In [14]:
serie_nivel_educacional = data["nivel_educacional"]
serie_nivel_educacional.value_counts()

nivel_educacional
2_Sec. comp y más    14634
1_H/Sec inc           8814
Name: count, dtype: int64

Quando aplicamos o método `.value_counts()`, o objeto resultante estará em ordem decrescente para que o primeiro elemento seja o elemento que ocorre com mais freqüência. O método exclui valores NA por padrão.

Portanto, o valor mais freqüênte é o primeiro elemento da string que é o resultado do método `value_counts`, e o menos freqüênte é o último.

In [15]:
serie_counts = serie_nivel_educacional.value_counts()
serie_counts.iloc[0]

14634

## Exercício 6

Qual é a renda mediana da população?

In [16]:
serie_ingreso = data['renda_ult_mes']
serie_ingreso.mean()

8107.905834186285

## Exercício 7

Construa um objeto `DataFrame` com as colunas `nivel_educacional` e `renda_ult_meses` de dados, selecione as primeiras $20$ linhas deste objeto e então gere uma amostra aleatória de $500$ linhas deste `DataFrame`.

Dica:

Você pode aplicar o métddo

- [pandas.DataFrame.sample](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html?highlight=sample#pandas.DataFrame.sample)

In [17]:
col_names_list = ['nivel_educacional', 
                  'renda_ult_mes'
                 ]
data_2 = data[col_names_list]
data_2.head(7)

   nivel_educacional  renda_ult_mes
0        1_H/Sec inc         6000.0
1  2_Sec. comp y más         5000.0
2  2_Sec. comp y más         5000.0
3        1_H/Sec inc        11000.0
4        1_H/Sec inc         9500.0
5  2_Sec. comp y más         6000.0
6  2_Sec. comp y más         9000.0

**Primeras $20$ linhas**

Observemos que o valor do índice nas linhas que ele retorna está entre $0$ e $19$:

In [18]:
data_2[0 : 20]

    nivel_educacional  renda_ult_mes
0         1_H/Sec inc         6000.0
1   2_Sec. comp y más         5000.0
2   2_Sec. comp y más         5000.0
3         1_H/Sec inc        11000.0
4         1_H/Sec inc         9500.0
5   2_Sec. comp y más         6000.0
6   2_Sec. comp y más         9000.0
7         1_H/Sec inc         4260.0
8         1_H/Sec inc         3800.0
9   2_Sec. comp y más        10517.0
10        1_H/Sec inc         8300.0
11  2_Sec. comp y más         4900.0
12  2_Sec. comp y más        11000.0
13  2_Sec. comp y más         9000.0
14        1_H/Sec inc         3500.0
15        1_H/Sec inc         8000.0
16        1_H/Sec inc         2500.0
17        1_H/Sec inc         7500.0
18        1_H/Sec inc         5000.0
19        1_H/Sec inc         5500.0

**Amostra aleatória**

In [19]:
sample_data = data_2.sample(500)

print(sample_data.shape)
print(sample_data.head(5))

(500, 2)
       nivel_educacional  renda_ult_mes
22739  2_Sec. comp y más         9500.0
9021   2_Sec. comp y más         2000.0
6766   2_Sec. comp y más         6000.0
4785         1_H/Sec inc         9000.0
15682  2_Sec. comp y más         5300.0

## Exercício 8

Construir um objeto `DataFrame` com todas as colunas de dados, exceto `nivel_educacional`.

Dica:

Crie uma máscara booleana dos nomes das colunas.

In [20]:
mask_columns = data.columns != 'nivel_educacional'
mask_columns

array([ True, False,  True,  True,  True])

Vemos que a segunda coluna é 'nivel_educacional' porque é a única com valor `False` na máscara criada. Agora usamos essa máscara para selecionar as colunas que queremos

In [21]:
data_sin_nivel_educativo = data.loc[ : , mask_columns]
data_sin_nivel_educativo.head(3)

   idade  hs_trabalhadas qualif_ocupacional  renda_ult_mes
0     46              45    2_Op./No calif.         6000.0
1     26              25    2_Op./No calif.         5000.0
2     47              25    2_Op./No calif.         5000.0

## Exercício 9

Ordene os dados de acordo com a coluna de `idade` em ordem decrescente.

Dica:

Você pode aplicar o métddo

- [`pandas.DataFrame.sort_values()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values)

In [22]:
data_sort = data.sort_values(by = ['idade'], 
                             axis = 0, 
                             ascending = False
                            )
data_sort.head(10)

,idade,nivel_educacional,hs_trabalhadas,qualif_ocupacional,renda_ult_mes
22574,93,1_H/Sec inc,20,2_Op./No calif.,8000.0
16461,85,2_Sec. comp y más,40,1_Prof./Tecn.,20700.0
16954,85,2_Sec. comp y más,36,2_Op./No calif.,8250.0
23317,84,1_H/Sec inc,25,2_Op./No calif.,9900.0
4340,84,1_H/Sec inc,36,2_Op./No calif.,7500.0
766,84,2_Sec. comp y más,30,1_Prof./Tecn.,7800.0
10087,84,1_H/Sec inc,48,1_Prof./Tecn.,8000.0
20745,83,2_Sec. comp y más,40,1_Prof./Tecn.,8000.0
18209,83,1_H/Sec inc,56,2_Op./No calif.,26700.0
5343,82,2_Sec. comp y más,33,1_Prof./Tecn.,12300.0

## Exercício 10

Qual é a média de horas trabalhadas por jovens entre $14$ e $25$ anos com baixa qualificação?

Dica:
    
Combine várias máscaras booleanas

In [23]:
serie_idade = data['idade']

mask_idade = (serie_idade >= 14) & (serie_idade <= 25)

serie_qualificacao = data['qualif_ocupacional']
mask_pouco_qualificado = (serie_qualificacao == '2_Op./No calif.')

mask_idade_pouco_qualificado = mask_idade & mask_pouco_qualificado

hs_trabalhadas_condicoes = data.loc[mask_idade_pouco_qualificado, "hs_trabalhadas"]

resultado = hs_trabalhadas_condicoes.mean()

resultado

37.57085900688655

Também podemos escrever isso em uma única linha:

In [24]:
data['hs_trabalhadas'][(data['idade'] >= 14) & (data['idade'] <= 25) & (data['qualif_ocupacional'] == '2_Op./No calif.')].mean()

37.57085900688655

## Exercício 11

Gere um novo `dataframe` com trabalhadores que ganham mais do que a renda média geral e estão abaixo do número médio de horas trabalhadas. Quantos trabalhadores estão nesta condição? Qual é a sua idade média?

Dica:

Calcule o salário médio e a média de horas trabalhadas, construa máscaras booleanas com esses valores, aplique a máscara para encontrar dados de índice com a combinação das máscaras construídas.

In [25]:
media_renda = data['renda_ult_mes'].mean()
media_horas = data['hs_trabalhadas'].mean()

serie_renda = data['renda_ult_mes']
mask_renda = serie_renda > media_renda


serie_horas = data['hs_trabalhadas']
mask_horas = serie_horas < media_horas

mask_renda_horas = mask_renda & mask_horas

data_ex11 = data.loc[mask_renda_horas, :]
data_ex11.head(3)

    idade  nivel_educacional  hs_trabalhadas qualif_ocupacional  renda_ult_mes
10     72        1_H/Sec inc              15      1_Prof./Tecn.         8300.0
12     43  2_Sec. comp y más              15      1_Prof./Tecn.        11000.0
47     33  2_Sec. comp y más              39      1_Prof./Tecn.         9500.0

In [26]:
data_ex11.shape

(2132, 5)

In [27]:
data_ex11.idade.median()

44.0

Também podemos construir o `dataframe` em uma única linha:

In [28]:
data_ex11 = data.loc[(data['renda_ult_mes'] > data.renda_ult_mes.mean()) & (data['hs_trabalhadas'] < data.hs_trabalhadas.mean())]
data_ex11.head(3)

    idade  nivel_educacional  hs_trabalhadas qualif_ocupacional  renda_ult_mes
10     72        1_H/Sec inc              15      1_Prof./Tecn.         8300.0
12     43  2_Sec. comp y más              15      1_Prof./Tecn.        11000.0
47     33  2_Sec. comp y más              39      1_Prof./Tecn.         9500.0

In [29]:
data_ex11.shape

(2132, 5)

In [30]:
data_ex11.idade.median()

44.0