<img src='letscodebr_cover.jpeg' align='left' width=100%/>

# Ada Tech [DS-PY-004] Técnicas de Programação I (PY) Aulas 4 e 5 : Pandas - Enunciado do Exercício 1.

## Documentção pandas

O [`Pandas`](https://pandas.pydata.org/pandas-docs/stable/index.html) é uma biblioteca de software escrita para a linguagem de programação Python para manipulação e análise de dados. Em particular, ele oferece estruturas de dados e operações para manipular tabelas numéricas e séries temporais.

### Conjunto de dados

O conjunto de dados que usaremos é uma versão muito condensada dos dados de uma Pesquisa de Domicílios Permanentes (pesquisa realizada por um instituto de pesuisas estatisticas e censos demográficos). É uma pesquisa contínua que tem como objetivo principal gerar informações sobre o funcionamento do mercado de trabalho.

Utilizaremos apenas algumas variáveis como idade, escolaridade, número de horas trabalhadas, qualificação da tarefa e renda do trabalho e alguns casos empregados, ou seja, aqueles que trabalharam pelo menos uma hora na semana anterior à pesquisa.

Este conjunto de dados é o mesmo que usaremos na aula presencial, e nesses exercícios procuramos nos familiarizar com ele e revisar alguns tópicos.

Importamos a biblioteca do `Pandas` e atribuímos pd como um apelido (alias):

In [1]:
import pandas as pd

C:\Users\thaty\AppData\Local\Temp\ipykernel_26360\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Exercicio 1

Vamos Aplicar o método [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) e ler em um `DataFrame` chamado `data` os dados do arquivo "**../Data/data_filt.csv**"

Este arquivo contém alguns dados numéricos e alguns tipos de string de caracteres.

As colunas são:

- ch06: int, idade

- nivel_ed: string, nivel educacional

- htot: int, quantidade de horas totais trabalhadas no período

- qualif: string, qualificação da tarefa

- p47t: int, entrada

In [38]:
data = pd.read_csv('./Data_1/data_filt.csv', encoding='latin1') 
data

       ch06           nivel_ed  htot            calif     p47t
0        46        1_H/Sec inc    45  2_Op./No calif.   6000.0
1        26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
2        47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
3        52        1_H/Sec inc    90  2_Op./No calif.  11000.0
4        45        1_H/Sec inc    44  2_Op./No calif.   9500.0
...     ...                ...   ...              ...      ...
23443    45  2_Sec. comp y más    50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc    30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más    40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc    40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc    54  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

## Exercício 2

Obtenha uma descrição do intervalo dos índices do `DataFrame` `data`. Obtenha também uma descrição das colunas do `DataFrame` `data`.

In [4]:
data.describe()

               ch06          htot           p47t
count  23448.000000  23448.000000   23448.000000
mean      40.455689     39.684536    8107.905834
std       12.934870     16.172226    6396.801309
min       12.000000      1.000000      80.000000
25%       30.000000     30.000000    4000.000000
50%       39.000000     40.000000    7000.000000
75%       50.000000     48.000000   10000.000000
max       93.000000    168.000000  130000.000000

Agora vamos modificar o índice de dados, para que o valor do índice não coincida com a posição e podemos notar diferenças nos exercícios que se seguem.

In [45]:
#Adicionando id no dataframe (modificando o index)

import pandas as pd

data = pd.read_csv('./Data_1/data_filt.csv', encoding='latin1')

data['Id'] = range(1, len(data) + 1)

data.set_index('Id', inplace=True)
data

       ch06           nivel_ed  htot            calif     p47t
Id
1        46        1_H/Sec inc    45  2_Op./No calif.   6000.0
2        26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
3        47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
4        52        1_H/Sec inc    90  2_Op./No calif.  11000.0
5        45        1_H/Sec inc    44  2_Op./No calif.   9500.0
...     ...                ...   ...              ...      ...
23444    45  2_Sec. comp y más    50  2_Op./No calif.   4000.0
23445    58        1_H/Sec inc    30  2_Op./No calif.   5000.0
23446    36  2_Sec. comp y más    40  2_Op./No calif.  13000.0
23447    49        1_H/Sec inc    40  2_Op./No calif.   4000.0
23448    36        1_H/Sec inc    54  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

## Exercício 3

Vamos revisar o uso de `loc` e` iloc`

- `loc` nos permite acessar um elemento por seu índice

- `iloc` nos permite acessar um elemento por sua posição

Vamos ler com `loc` e com` iloc` a quarta linha de dados

Como acessamos o valor do índice na quarta linha?

In [60]:
result = data.loc[4] 

result

ch06                     52
nivel_ed        1_H/Sec inc
htot                     90
calif       2_Op./No calif.
p47t                11000.0
Name: 4, dtype: object

In [90]:
filtro_ch06_iloc = data.iloc[1:5, 5] == 45
data_filtrado = data[filtro_ch06_iloc]

IndexError: single positional indexer is out-of-bounds

## Exercício 4

Vamos revisar o uso de `loc` combinado com máscaras booleanas. Queremos construir um objeto `DataFrame` com os registros com idade inferior a $15$ ou superior a $70$.

## Exercício 5

Vamos calcular algumas métricas em um objeto `DataFrame`

- Idade Média;

- Máximo de horas trabalhadas;

- Renda mediana.